@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");

* {
  font-family: "Oxygen", sans-serif;
}

.jumbotron {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background-color: black;
  height: 95vh;
  margin-bottom: 0;
  z-index: 0;
  padding: 0;
}

.video {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 100%;
  /*  object-fit is not supported on IE  */
  object-fit: cover;
  opacity: 0.5;
}

.container {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: relative;
  color: white;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

.jumbotronHeader {
  font-family: "Oxygen", sans-serif !important;
}

.signUp {
  width: 15em;
  height: 3em;
  border-radius: 3em;
  border: 1px solid rgba(245, 245, 245, 0.918);
  background-color: transparent;
  color: whitesmoke;
  transition: 0.2s;
}

.signUp:hover {
  background-color: rgba(255, 155, 0, 0.8);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
  outline: none;
}

.signUp:active {
  box-shadow: 4px 4px 4px rgba(0, 200 0, 0) !important;
  outline: none;
}
.signUp:focus {
  outline: none;
}

.quote {
  position: relative;
  width: 27em;
  font-size: 1.1em;
  float: left;
  top: 5em;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
}

.containerA {
  background-image: linear-gradient(
      rgba(41, 41, 43, 0.3),
      90%,
      rgba(41, 41, 43, 1) 100%
    ),
    url("../../Assets/pexels-andrea-piacquadio-3764533.jpg");
  /* background-repeat: no-repeat; */
  background-size: cover;
}

.containerB {
  background-image: linear-gradient(
      rgba(41, 41, 43, 1),
      20%,
      rgba(41, 41, 43, 0.3) 100%
    ),
    url("../../Assets/steven-lelham-atSaEOeE8Nk-unsplash.jpg");
  background-size: cover;
}

.rightSlash {
  position: relative;
  height: 50%;
  color: whitesmoke;
  background: linear-gradient(
    30deg,
    transparent 0% 25%,
    rgba(41, 41, 43, 0.75) 25% 75%,
    transparent 75% 100%
  );
}

.leftSlash {
  height: 50%;
  color: whitesmoke;
  background: linear-gradient(
    -30deg,
    transparent 0% 25%,
    rgba(41, 41, 43, 0.75) 25% 75%,
    transparent 75% 100%
  );
}

.textBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: all 1s;
  width: 100%;
}

.textBoxActive {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  width: 100%;
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s;
  -o-animation: fadein 2s;
  animation: fadein 2s;
}

.text {
  font-size: 1.2em;
  width: 50%;
}

.fitbitImg {
  height: 20px;
}

.textHeader {
  position: relative;
  margin-top: 0.7em;
  font-size: 62px;
  font-family: "Oxygen", sans-serif;
}

.textHeaderActive {
  visibility: visible;
  position: relative;
  margin-top: 0.7em;
  font-size: 62px;
  font-family: "Oxygen", sans-serif;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
