@import '../../variables.scss';

body {
  background: $primary-color !important;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10rem;
  background: $primary-color;
  color: $font-color;
  min-height: calc(100vh - 60px);
  opacity: 0;
  -webkit-animation: fadeIn 0.2s ease-in 0s 1 normal forwards;
  -moz-animation: fadeIn 0.2s ease-in 0s 1 normal forwards;
  animation: fadeIn 0.2s ease-in 0s 1 normal forwards;
}

@include media('<small') {
}

@include media('>=small', '<medium') {
}

@include media('>=medium', '<large') {
}

@include media('>large') {
}
